body {
  background-image:url("images/background.png");
  background-repeat: no-repeat;
  width:100%;
  overflow-x:hidden;
  font-smooth:always;
  -webkit-font-smoothing: antialiased;
background-size: cover;
}

h1 {
  margin-top:60px;
  font-family:courier;
  color: #fe7113;
  font-family:Neoterique;
  text-align:center;
  font-size:70px;
}

h4, h5, h6 {
  color:blue;
}

.topbar {
  top:0;
  left:0;
  position:absolute;
  height:30px;
  width:100%;
  min-width:1050px;
  background-color:black;
  border-bottom:3px solid #fe7113;
  font-size:12px;
  font-family:Courier;
  padding:4px;
  vertical-align:middle;
  box-shadow:0 0 30px 0 black;
  -moz-box-shadow:0 0 30px 0 black;
  -webkit-box-shadow:0 0 30px 0 black;
}

.topbar a {
  text-decoration:none;
}

.float_left {
  float:left;
}
.float_right {
  float:right;
  margin-right:8px;
}

.blue {
  color:#0099FF;
}
.grey{
  color:#999999;
}
.green {
  color:green
}
.red {
  color:red
}
.red_bold {
  color:red;
  font-weight:bold;
}
.greenbold {
  color:green;
  font-weight:bold;
}
.blue2 {
  color:blue
}
.bold {
  font-weight:bold;
}
.center {
  text-align:center;
}
.navigation {
  clear:both;
  margin:0 auto;
  width:500px; /* 3 links -> 500px */
  padding:10px 20px;
  font-family: 'Trebuchet MS', 'Arial';
  font-size:14px;
  background: url("ui-theme/images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
  border: 1px solid #E78F08;
  font-weight: bold;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;
}
.navigation a {
  text-decoration:none;
  color:black;
}
.navigation a:hover {
  text-decoration:none;
  color:white;
  text-shadow:0 0 50px #4282D3;
}

table {
  margin:0 auto;
}
table.left {
  text-align:left;
}

.container_jquery {
  margin:40px auto;
  width:800px;
  border-radius:10px;
  background-color:white;
  overflow:auto;
  font-size: 12px;
}

.viewer {
  margin:40px auto;
  width:1000px;
  /*height:1000px;*/
  border:1px solid black;
  padding:20px;
  background-color:lightorange;
  border-radius:10px;
  font-family:courier;
  text-align:left;
  background-color:white;
}

.ui-tabs .ui-tabs-panel {
  /*background:white;*/
}

#footer {
  font-size: 11px;
  color: gray;
  text-align: center;
  margin-top: 15px;
}

input[type=text], input[type=password] {
  border: 1px solid black;
}

.channel_jquery {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height:20px;
  width:300px;
  padding:10px;
  display:block;
  background-color:#C2BEAE;
  border:1px solid #67655C;
}

.channel-name {
  margin-left: 20px;
}

#channel_info_main, #channel_info_sub {
  padding:0.4em 1em 0.4em 20px;
  position:relative;
  text-decoration:none; 
}

#channel_info_main span.ui-icon-person, #channel_info_sub span.ui-icon-person { 
  left:0.3em;
  margin:-8px 5px 0 0;
  position:absolute;
  top:45%;
}

#channel_info_main span.ui-icon-trash, #channel_info_sub span.ui-icon-trash { 
  left:2.4em;
  margin:-8px 5px 0 0;
  position:absolute;
  top:45%;
}

// @font-face {
//   font-family: BonkOff;
//   src: url('fonts/BonkOff.eot');
//   src: local('☺'), url('fonts/BonkOff.ttf') format('truetype');
//   font-weight:normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'Neoterique';
//   src: url('fonts/Neoterique.eot');
//   src: local('☺'), url('fonts/Neoterique.woff') format('woff'), url('fonts/Neoterique.ttf') format('truetype'), url('fonts/Neoterique.svg') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }